html,
body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    height: 100%;
}

#top-bar {
    background-color: #84EB9D;
    width: 100%;
    height: 10%;
    margin-left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#title {
    color: black;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    font-weight: bold;
    width: 30%;
    height: 70%;
    font-size: 43px;
    font-family: "Comic Sans MS";
    display: flex;
    align-items: center;
    justify-content: center;
}

#title:hover {
    background-color: #84EB9D;
    cursor: pointer;
    font-size: 300%;
}

@media(max-width: 300px) {
    #title {
        font-size: 35px;
    }
}

a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: underline;
    color: black;
}